<%= simple_form_for([@task_list, @task]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="field">
    <%= f.input :name %>
  </div>

  <div class="field">
    <%= f.input :description %>
  </div>
  <div class="field">
    <%= f.input :time %>
  </div>

  <div class="field">
  <%= f.select :status , Task::STATUS %>
</div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
