<p id="notice"><%= notice %></p>
<h1 class = "top">You Task</h1>
  <p >
    <strong>Name:</strong>
    <%= @task.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @task.description %>
  </p>

  <p>
    <strong>Time Complited:</strong>
    <%= @task.time_complited %>
  </p>
  
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back',  task_list_tasks_path(@task.task_list_id) %>
